<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>


<div id="vue-prop-one">
  <blog-post post-title="hello!" name-value-name="MMMMMM" one-name="kkkk"></blog-post>
  <blog-post></blog-post>
</div>

<script>
  // 组件: 面向组件开发, element-ui相等于一个UI的组件库,我们使用的话, 依然element-ui相应的依赖,使用代码了
  // 注册组件,  使用组件的时候,怎么给 {{postTitle}} 等字段进行渲染呢?
  // 通过props定义字段的值,然后使用组件的时候,进行传递即可渲染
  // 默认值的.  能看懂代码中使用props
  Vue.component('blog-post', {
    // 在 JavaScript 中是 camelCase 的 .  props 子父组件字段传递的 父-->子.  只能父传递到子
    // 驼峰名   --->  post-title postTitle
    // 经过浏览器后转化为小写了
    props: ['postTitle','nameValueName'],
    // template , 定义为 html 标签 <v-for></v-for>  <v-if></v-if> vue的标签
    template: '<div><h3>{{ postTitle }} /  {{nameValueName}}</h3> </br/></div>'
  })

  var vm = new Vue({
    el:'#vue-prop-one'
  })

</script>

<!--  组件的复用   -->
<div id="components-demo">
  <button-counter></button-counter>
  <button-counter></button-counter>
  <button-counter></button-counter>

  <blog-post title="GT"></blog-post>
  <blog-post title="GavinYang"></blog-post>
  <blog-post title="演员"></blog-post>

  <blog-post v-for="post in posts" v-bind:key="post.id" v-bind:title="post.title" ></blog-post>
</div>
<script charset="utf-8">
  Vue.component('button-counter',{
    data: function () {
      return {
        count: 0
      }
    },
    template: '<button v-on:click="count++">Click times: {{count}} </button>'
  });

  Vue.component('blog-post',{
    props: ['title'],
    template : '<h3>{{ title }}</h3>'
  });

  new Vue({
    el: '#components-demo',
    data : {
      posts : [
        { id: 1, title: 'GANTIAN' },
        { id: 2, title: 'GavinYang' },
        { id: 3, title: 'Why Vue is so fun' }
      ]
    }
  });
</script>

<!--<div id="componet-three">
  <base-checkbox v-model="loginValue"></base-checkbox>
</div>

<script>
  Vue.component('base-checkbox',{
    model: {
      prop: 'checked',
      event: 'change',
    },
    props: {
      checked: Boolean
    },
    template: `<input type="checkbox" v-bind:checked="checked" v-on:change="$emit('change',$event.target.checked)">`
  });

  new Vue({
    el:"#componet-three"
  })
</script>-->

